   *
   {
      box-sizing:border-box;
      -webkit-box-sizing:border-box;
   }

   html
   {
      padding:0;
   }

   a, a:hover, a:active, a:visited{
      text-decoration:none;
      color:white;

   }

   body
   {

      font-family:Arial, sans-serif;
      padding:0;
      margin:0;
   }

#what,
#why
{float:left;
width:50%;
}

#how
{
clear:both;

}

#how section
{
   float:left;
width:50%;
margin:0;

}

#header
{
   margin:0;
   background-color:grey;
   color:white;

}

#header h1{
   margin-top:0;
   font-size:4em;
   padding-left:0.25em;
   padding-top:0.5em;
   margin-bottom:0.25em;
   display:inline-block;
}

#header ul
{
   margin:0;
   padding:0;
   background-color:#007a78;
}
#header h2
{
   display:inline-block;
   font-weight:lighter;
   font-style:italic;
   margin-left:1em;
}

nav h3
{

   display:none;
}

#modules
{
   display:none;
}
#header li
{
   text-align:center;
   display:inline-block;
   list-style:none;
   width:200px;
   font-size:2em;
   padding:0.5em;
   text-transform:lowercase;
   background-color:#0eb2a7;
   border-right:;
   margin:0;

}

#header li a
{

width:100%;
display:block;
margin:0;
}

#header li:hover
{
   background-color:black;

}

dt
{

   font-weight:bolder;

}

#content section
{padding:20px;}

#content a,
#content a:visited,
#content a:hover,
#content a:active

{
   color:#0eb2a7;
}

#content a:hover
{
   text-decoration: underline
}

#content 